@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

/* CLEARFIX */
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* COLORS BACKGROUND */
.bg-white-smoke {
  background-color: rgb(245, 249, 253);
}
.bg-white {
  background-color: #fffff;
}
.bg-orange {
  background-color: rgb(255, 107, 80);
  color: #fff;
}
.bg-bluewood {
  background-color: #2c3d51;
}
.bg-lightblue {
  background-color: #f5f8fa;
}
/* /COLORS */

.container {
  width: 100%;
  position: relative;
}
.container-mini {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
}
.row-1 {
  width: 100%;
  height: 82px;
  border-bottom: 2px solid #2c3d51;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.row-2 {
  width: 100%;
  height: 80px;
  margin-top: 99px;
}
.row-3 {
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .header-bottom-title picture > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  object-fit: cover;
} */
/* ---------- */

.nav-menu {
  width: 100%;
  height: 100%;
}
.nav-top {
  width: 100%;
}
.nav-bottom {
  width: 100%;
  height: 100%;
}

.nav-top-options-left {
  float: left;
  height: 100%;
  line-height: 80px;
}
.nav-top-options-left > ul > li {
  display: inline-block;
  padding-right: 10px;
  padding-top: 10px;
}
.nav-top-options-left > ul > li:first-child > a {
  border-right: 1px solid #2c3d51;
  padding-right:  20px;
}

.nav-top-options-left a {
  color: #2c3d51;
}
.nav-top-options-left i {
  padding-right: 5px;
}
.nav-top-options-left a {
  text-decoration: none;
}

.nav-top-options-right {
  float: right;
  height: 100%;
  line-height: 70px;
}
.nav-top-options-right > ul > li {
  display: inline-block;
  padding: 0 15px;
}

.nav-top-options-right i {
  color: #21afb2;
}
.nav-top-options-right button:first-of-type {
  padding: 20px 30px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid rgb(255, 107, 80);
}

/* ROW 2------ */
.logo-hubspot {
  display: inline-block;
  width: 50%;
  height: 80px;
  position: relative;
}
.logo-hubspot img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px
}

.nav-bottom-options-right {
  width: 50%;
  height: 80px;
  float: right;
}
/* .nav-bottom-options-right > ul {
} */
.nav-bottom-options-right > ul > li  {
  list-style: none;
  line-height: 80px;
  float: right;
  padding-left: 20px;
}
.nav-bottom-options-right span {
  margin-right: 5px;
}

/* ROW 3 ------- */
.header-bottom {
  padding-top: 10%;
}
.header-bottom-title {
  width: 30%;
  height: 50%;
}
.header-bottom-title h1 {
  margin: 20px 0;
}
.header-bottom-title p {
  margin: 20px 0;
}
.header-bottom-title button {
  padding: 24px 34px;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
}

/* MAIN SECTION */
.box-service {
  width: 100%;
}

/* Service HubSpot */
.box-service:first-child {
  width: 1000px;
  /* height: 900px; */
  margin: 0 auto;
  text-align: center;
}
.box-service:first-child img {
  width: 400px;
  height: 300px;
  padding-top: 50px;
}
.box-service:first-child h2 {
  padding: 5px 20px;
}
.box-service:first-child p {
  padding: 20px 20px;
}

/* CRM - Card */
.crm-row {
  border-radius: 5px;
  box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.3);
}
.crm-section-logo {
  display: inline-block;
  width: 300px;
  height: 300px;
}
.crm-logo {
  text-align: center;
}
.crm-section-logo img {
  width: 200px;
  height: 150px;
}
.crm-button {
  text-align: center;
}
.crm-section-logo button {
  padding: 20px 50px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.crm-section-text {
  display: inline-block;
  width: 60%;
  padding: 30px;
}
.crm-section-text > h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
.crm-section-text > p {
  overflow: auto;
  margin-bottom: 20px;
}
.crm-section-text > h4 {
  font-weight: 700;
  margin-bottom: 20px;
  display: inline-block;
}
.crm-section-text .line {
  width: 60%;
  display: inline-block;
  border: 1px solid black;
  margin-left: 50px;
}

.crm-section-text > ul {
  list-style: none;
}
.crm-section-text > ul > li {
  display: inline-block;
  padding-right: 25px;
}
.crm-section-text i {
  padding-right: 15px;
  color: rgb(255, 107, 80);
}

/* /MAIN SECTION */
